html,
body {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

body {
    background-color: #92A8D1;
}

footer {
    background-color: #343a40;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 30px;
    justify-content: flex-end;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'press start 2p', cursive;
    font-size: 10px;
    letter-spacing: 2px;
}

footer a:hover {
    text-decoration: none;
    color: #02AEFF;
}

.footer-heart {
    color: red;
    font-size: 15px;
}

.player-cursor {
    font-weight: bold;
    position: absolute;
}

#cursors-container {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

#banner-container {
    align-self: center;
}

#game-container {
    align-self: center;
}

#lobby-image {
    max-width: 500px;
}

#lobby-header {
    color: white;
    font-weight: bold;
    border: none;
    background: black;
}

.row-icon {
    line-height: inherit !important;
}

.lobby-player {
    display: block;
    font-family: 'Exo', sans-serif;
    margin: 10px;
    font-size: 40px;
    text-shadow: 0 0 1px #000;
    font-weight: bold;
}

.lobby-player i {
    color: forestgreen;
    margin-left: 50px;
    float: right;
}

.align-self-center {
    align-items: center;
}

.radius-25 {
    border-radius: 25px !important;
}

.cursor-hand-blue {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACcUlEQVRYheWWPWgUURDHF0lx3u3Os0mMWgRBVFJoESV4dzuzFooIgp2goLESbERTCJYWamdlo1hdGwmIVULABPwAGwULUSEgQoj4LUFBzc8mOd7dmsvd7Z0iDrzqzcz/N/Nm39sgaMFEOSbKfacsiPFWlDthjLWSo21zxg1nUL9EWYyU0a6Ki3H6d+IexM8oodw1AKe8qgoqY4WEfknYIso9D2S8K+L5Ehs98YVgiPzyXlRmq9eF+a4ARCW2VUWMZ/X7/lF0ByBh+z8DEBknC8OsDxLW/RWAuvVajIuZYTIA4MXNOeN6rsjA6opDuEgZFeO2U6adMtUIIIoZyRUZiGJKYkyIMuOUKTG+p2CUT6Gxd0Vtl7BriXalSlIAK1kYM+iMSTEmnPLe+1zfFRL60wFF+kSZX6WVTQPUWInIKXerw6pcTlevXPEHKIoZcca+yDgnyvNMAEEQRErRy/845SDGU69NB2t3WRMpJ5xyq12AYIi8NwufU/tOWaheKMNI20INrOGl5YwvHuH5IKGno+oJPf7rmQZQxuoG7oVTjnRKv+ZNUd6kHPIxG/w58JxncsrmrACinPHyTv7eKyEXGZfE+Fp/gUiZA1kAnPLE6+7Zhs5r97BJlGv+bSbGD1GOtym+38vzLSzS11SgGLudMVvz6xVzuFUAMSa8bt5sKTiM6RXjgXckH8OY3mbjc0UGRFlcjg9jBlstIAh2UBDjkQdxodlQp5zyqp9uXXzJRDnazNPb8C1RrrYN4IzxzADGXJYOPGyx2kUxKmJU/Bn4cwBGpRprVP5DgE4fQSeG0BmzbQMUyuwU42UG8Q+Rcag+7y8aS1rcERgOBAAAAABJRU5ErkJggg==") 0 0, auto;
}

.cursor-hand-red {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACiElEQVRYheWVPWgVQRDH/9ysuZ0RPxpj1CIIopLGRhsVxEIRQbATFDRWgo1oCsHSQu2sbBSrtJGAWCUETMAPsFGwEM3OviSSZ9T4SVBQ82x8l00uOd/dvaeIA9vszuz/N7Ozu0AOc2SPqeH7SjyjJG8dyR1v7J48exQ2JbmhRmqpQTyrEfe0VNxFcnpR8TmIHw68u3UAxOOBWJ8HOiYQb3KG79XnHXF/S8THIesD8ZlJQBIwxJvnAGSqJQCKeMtcuflZaj04ipYAeLRt/WcAHNmTCqz1wOq/AjAfhl+qkYulYYoCzL+mUlWS6wrb+VtBB6zSiHuU+LYaHnbEQ1kAnmy3wnaOgXcpyYAaHnHEQ474W7oq8rFi7N4McdmuJNWls0kDLGVjaOtSkkElGVCSd0E1pj3QkQoYBdodyVR2ORsHCO0NsEIN300qYfhyOnvDV8IG8mS71cT7XMTnnOHnZQAAoALeGSTzeBEAeVp3qFB8MFyrAZEne8IR3yoKMAlIkOCnlIMSz9QdpoGVRYWyLPPRcsSf64s+4vM1wDRTvAaY8PdM0xH3LXhIXnjiI80CCP8UR/I65VCBrAv7IOj8kQrsxrIAPuIzwVUcXNwJsN7IJSX+svAB8SY+UAZAjTxJ9ov4bKbzBHiDEl+b95oRf1eyx4uJx/uDo/06CrQ3FOggO5TYh83jSQ7nBiAZSBqc5Gau4CqwRg0/CI7jQxVY07A4bKcSz9bjx9DWlTcBvAKWO8OPkkpE9kKjsT6SU0FDD+cWr5sjPtrQ15sxnOGrZQD6ywIoSbUwgBp+mE+MZ5W499dIeuBPAvQmscS9/yVAc4+gOU3IvngFsGybIx4tcQPeK8mhhfv+BEdnwbtngW+fAAAAAElFTkSuQmCC") 0 0, auto;
}

.cursor-hand-green {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACfklEQVRYheWVS2hTURCGL9KFVHxQ2ibGNGf+iah040Y3KogLRQTBnaDgYyW4Ee1CcBVcxN6Zm1YEN4qrbCsFcdVSsAUf4EbBhahQECFUfEtQUKObJIy5aR43iSIOnNWZuf93/jN3jue1EezzUSjuQVCE4A0r3yah3e18I3JAcJ2Vf9YuKErwMdZTcQ74dD3xKoTgBwe8q3cAyi+N2BQJxZMTyY2sfLcKIjzdE/ERfyRhxIuJTKK/CpbjTcaJpZ4AwMdmA/C0dt9eRU8AKKAt/wwAK5/EZcRoktb9LQC7XkFxsWOYDgDsb1qA4hoCuKaCPM5r4WMMiltQzLPyXCMAEjqBAC4lqZ0QzECwwMpzLPytDsxH57s9y4v7vA2CQoOThACWi1SQGoVitgz1zkzOtyQUDxWkNT3MyktNrGwZwMagP7gagjtmaF0Kn1553DZQ2dq9rHyOhZ91AuB5nudybodx4VEYQPhJJcGJO/DbZsZbQQEdZ+WbUQESmUS/ceBTKAGCYiVh4MrAmqhCjaLh0GLlz5VNUjrvZby+rqpnvD77eob2IZiqabrnJHS4W/r2TWHh16EEN+nW2z4wtAtOHToFIKEzpgln6ydlaCUpZSH4UjtASGh/JwBQPDYOnG2YnJxIboDiqp1mUHyH4FgkccE+c5ivaU0Pt1TIAW+HYNE2D/l0KALATLXBhW60VRzPxocguG/s+xDPxodaFg/goChV6lNBarTdA3gxja1i4YfGiQut1pLSKXON822LV4KVj7Ty9DZZk9EBhKc7BYCgEBkAigdtiSlKUOTLq9oDfxIgb2rz/yVAd6+gS024GN2BHLay8IvI4or3UBys/e4vHjeSVW315NAAAAAASUVORK5CYII=") 0 0, auto;
}

.cursor-hand-orange {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACPUlEQVRYheWWO2gUURSGPySFRHw0iVGLRRCVNDbaqGAsFBEEO8GgbrJ7zgQb0RSClVhEOysbxWrbSECsEgQT8AE2ChaiQkCEJeJbgoKP3yKvO85mszOzq4gDp7r/+f/v7j3cu5Dik9Er556caTlv5NySsSeNR+ZPzjU5SpTxU85ga8ONkzXDF+qHnN2tA3BeBjseVpEuldgk424AMdKa8H7WByHTctrn14zNwdpUqwC2BCFPE+vBUbQGwNn6zwAook9l1qrImr8DEK9Xci7khskBEFZVxlWVKDQSuFrOoJybcsZl3K4LYBRVoqASu2SMypiY7flWA+SjnL2Lh0dsl1Ots5MEQB2vbhljMkblvAvukbcq0pVsGKBTztQSP2XDADHvflbKuBP4XEyKjEuxATKKKrNPxhk5z/IAzPrvDPwf1RI8mReUORhbO88yOSfk3MgM4LQHx/CplmB6XtDLqqxBS0AsfmnJ+RwQnlUPbU0N76EtfD2TAmM4NnDGc0UcaRpA+KYYr5MCZ11sDhbEEyqzMTeAcSrwHKstKrJcxpCML4kLJOJAToDHgd/p+uIBNsi4ErvNjO8qczxTuLM/CP+qATobpd4hZzIcHjmHUwPM3IZzG7merrmPDhn3A4gP6qOj4f4Shdk/rnNPdnfaDaBjrJDzMIA413CvEwV946nDA6OjDT699epyHoCRJgBU8wA8SBU2c+4VOZVwBv4cgFMJeiv/IUALjqAZQziZHSBim5wXmcON94o49LvvL2q0gqwgs/c+AAAAAElFTkSuQmCC") 0 0, auto;
}

.cursor-hand-pink {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACiUlEQVRYheWVPWhUQRDHH5JCIn40iVGLIIhKGhttVBALRQTBTlDQWAk2oikEqyU38y7BIpWNYnVtJCA2uZt5zzv8CJhCwUJUCIgQIn5LUNh5GYvk7vZyH7n33p0iLmy1M/P/7ezsjOfFWAJ0ziI9EaBFQfooSA/UD47EiZF4CfIdQdYGeylCGumqeAR0uYn48gaKFMLDXQMQoHeO2KSacECz4S4L/LgKQlNdEdfx/HZHfFHNbG/lzKfdztlCdwAywZ6yiAV+tfrcfYruAPjh3n8GQDJ8UZG2qgm3/B2Amp/B7y3SaGqYxAC1MPMCfFuBB9cWHCtsjpBGBPi+BS4KMK8BMKzAg+oHhwQ5b5FKAswCbBv0i28W6WhzcQj3C/B8s5s0AmieORoSoIIg5wX5swPxSU04UO9gpvsFaKFVKuMA1MQef7TRIj904mTrjCzymFtAgjxskY5FQNcs0Os0AJ7neQp80AF4Xg8A/LL6nYKTNc5G1wnQBUG+lxjAzPY62fxeZ7A8YpcN1MxsSirUarVsWgL8o3wYIV9XE/Z0UlxN2ONOzwYANLmq6N4I0JmOATgzRZA/1BtgaVtNHZQLBqmkmeLOtAAR0hUnA4XGlCZcb5F8Af5Z10AydCINgEV+UX3i4GpLYwXeIUC3arsZiWBwPpF4ho87cX6pme5vy1GzdECQ59ziEZ9OxwVY6YZlgLuxnNUv9Vmgp06Ar+qX+tr2Bx4U5KXKF/dpKO4FPL05vcECPau8IdCNdn0jny45HbAYW7y8BIOzbY3e1rNkIgUATaUFEOD5xAAWeSam4JIg51Z2pQb+JECumj3O/ZcAnX2CjhQh8lxiAB0N9gnw2xQ/4IsAn1od9zcILNvwgB9GJwAAAABJRU5ErkJggg==") 0 0, auto;
}

.cursor-hand {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB4ElEQVRYheXWO2gUcRDH8Q+SQiI+Gt9FEEQljY02KoiFIoJgJyhorAQbUQvB0kLtrGwUq2sjAbFKEEzAB9goWIgKAQmEiK8oh4ImWuwezF32LrePU8SBaXZmfr/v7f539sgXx/EIdbzHPezNqVE4buFXRs7jQq/Nz7Qxb+Qc9vQS4G0wG8Y6bMbDcH2kV+Ybgkkd/aG2JdRmegWwNZi8zKjHR9GT2PYvAZzCWqz6WwAxp3C5CpiiADGncRMD3RiulCyWuxjH/UUAhlLh3RjFRDrzIwNkFvs6me9Iadv9kiyAdjGIsRTqY9D4INkjC2KN5F3udCvzAMRYjgdB52pW07XQMCW5tftxHq9KAsCuoP8sq+FFaDjUUluCk7hTAqA/6H/JaqiHhhUljDpFx6X1NRQvoq9i876gP5fVMNxC+BpHKwSI35R3WQ3rNZ+DRk5gUwUAZ4PmWLumpbiCby0QszhYEuB50Du3WPNG3NC8zX7iREHzA0Hnu2TndBU7Man58BwpADAaNG7nHV6Nx0Hgc3qt2xiQ/HFtzA/mBYBleBpELuWYPR3mxouYN+KYhW9I3rxeBmCkAoDpMgBPcprNo5ZmPAN/DKAWZmv/JUDlj6CKQzhZBmA73pQw/4TDraK/AZ2jTRcAvMQqAAAAAElFTkSuQmCC") 0 0, auto;
}