html,
body {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

body {
    background-color: #92A8D1;
}

.player-cursor {
    position: absolute;
}

#cursors-container {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

#banner-container {
    align-self: center;
}

#game-container {
    align-self: center;
}

#lobby-image {
    max-width: 500px;
}

#lobby-header {
    color: white;
    font-weight: bold;
    border: none;
    background: black;
}

#lobby-list {
    /*margin-right: 30px;*/
}

.row-icon {
    line-height: inherit !important;
}

.lobby-player {
    display: block;
    font-family: 'Exo', sans-serif;
    margin: 10px;
    font-size: 40px;
}

.lobby-player i {
    color: forestgreen;
    margin-left: 50px;
    float: right;
}

.align-self-center {
    align-items: center;
}

.radius-25 {
    border-radius: 25px !important;
}